{% raw %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<base href="/">
	<!-- RESPONSIVENESS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<!-- STYLESHEET -->
  	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body data-ng-app="myApp" ng-cloak>
<div data-ng-controller="adminCtrl" class="body_wrapper">

<div id="header">
	<a href="/rooms" target="_self">
		<md-button class="md-icon-button md-primary" aria-label="Settings">
			<md-icon md-svg-icon="../static/css/close.svg"></md-icon>
		</md-button>
	</a>
	<p id="header_headline">Admin</p>
</div>

<div class="content_wrapper">
	<!-- NAVIGATION -->
	<div class="button_wrapper">
		<md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<!-- DEVICES -->
			<md-nav-item md-nav-click="goto('devices')" name="devices">Ger&auml;te</md-nav-item>
			<!-- ROOMS -->
			<md-nav-item md-nav-click="goto('rooms')" name="rooms">R&auml;ume</md-nav-item>
			<!-- CITIES -->
			<md-nav-item md-nav-click="goto('cities')" name="cities">St&auml;dte</md-nav-item>
		</md-nav-bar>
	</div>

	<!-- DEVICES -->
	<div class="nav_bar_wrapper" ng-if="showDevices">
		<div class="button_wrapper">
			<h1>&Uuml;bersicht</h1>
		</div>

		<!-- LIST OF ALL DEVICES IN THE ROOM -->
		<md-list class="md-dense">

			<md-list-item>
				<div class="md-list-item-text">
            		<h3>Test</h3>
            		<p>Wohnzimmer</p>
          		</div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-list-item>
			
			<md-list-item>
				<div class="md-list-item-text">
            		<h3>Test</h3>
            		<p>Wohnzimmer</p>
          		</div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-list-item>
			
			<md-list-item>
				<div class="md-list-item-text">
            		<h3>Test</h3>
            		<p>Wohnzimmer</p>
          		</div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-list-item>
			
			<md-list-item>
				<div class="md-list-item-text">
            		<h3>Test</h3>
            		<p>Wohnzimmer</p>
          		</div>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>

		<div class="button_wrapper">
			<h1>Ger&auml;t hinzuf&uuml;gen</h1>
		</div>
		<!-- INPUT FORM FOR ADDING A NEW DEVICE -->
		<div class="button_wrapper">
			<form name="addDeviceForm">
				<md-input-container class="md-block">
					<label>Bezeichnung</label>
					<input ng-model="form.deviceName">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Label</label>
					<input ng-model="form.deviceKey">
				</md-input-container>
				<md-input-container class="md-block">
					<label>Raum</label>
					<md-select ng-model="form.roomID">
						<md-option ng-value="1">Wohnzimmer</md-option>
						<md-option ng-value="2">K&uuml;che</md-option>
						<md-option ng-value="3">Schlafzimmer</md-option>
						<md-option ng-value="4">B&uuml;ro</md-option>
						<md-option ng-value="5">Badezimmer</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Default</label>
					<md-select ng-model="form.enabled">
						<md-option ng-value="true">An</md-option>
						<md-option ng-value="false">Aus</md-option>
					</md-select>
				</md-input-container>
			</form>
		</div>
		<div class="button_wrapper">
			<md-button class="md-raised" ng-click="addDevice()">Speichern</md-button>
		</div>
	</div>

	<!-- ROOMS -->
	<div class="nav_bar_wrapper" ng-if="showRooms">
		<div class="button_wrapper">
			<h1>&Uuml;bersicht</h1>
		</div>
		<div class="button_wrapper">
			<h1>Raum hinzuf&uuml;gen</h1>
		</div>
	</div>

	<!-- CITIES -->
	<div class="nav_bar_wrapper" ng-if="showCities">
		<div class="button_wrapper">
			<h1>&Uuml;bersicht</h1>
		</div>
		<div class="button_wrapper">
			<h1>Stadt hinzuf&uuml;gen</h1>
		</div>
	</div>
</div>

</div>

<!-- AngularsJS and Angular Material ressources at the end of the file for improved loading -->
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>

<!-- JAVASCRIPT FILE -->
<script type="text/javascript" src="../static/js/control.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

</body>
</html>
{% endraw %}