{% raw %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- RESPONSIVENESS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<!-- STYLESHEET -->
  	<link rel="stylesheet" href="static/css/style.css">
  	<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
</head>
<body data-ng-app="myApp" ng-cloak>
<div data-ng-controller="myCtrl" >

<div id="header">
	<md-button class="md-icon-button md-primary" aria-label="Settings">
		<md-icon md-svg-icon="{{url_for('static', filename='css/menu.svg')}}"></md-icon>
	</md-button>
	<p id="header_headline">Kai's Smart Home</p>
</div>

<!-- ROOMS -->
<a data-ng-repeat="x in rooms" href="control/room/kitchen">
	<div class="card select_room_wrapper">
		<div class="select_room_icon_wrapper">
			<div class="select_room_icon"></div>
		</div>
		<div class="select_room_devider_wrapper">
			<div class="select_room_devider"></div>
		</div>
		<div class="select_room_name_wrapper">
			<p class="select_room_name">{{x.name}}</p>
		</div>
	</div>
</a>
</div>

<!-- AngularsJS and Angular Material ressources at the end of the file for improved loading -->
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<!-- JAVASCRIPT FILE -->
<script type="text/javascript" src="static/js/control.js"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/control.js')}}"></script> -->

</body>
</html>
{% endraw %}