{% raw %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<base href="/">
	<!-- RESPONSIVENESS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<!-- STYLESHEET -->
  	<link rel="stylesheet" href="/static/css/style.css">
  	<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
</head>
<body data-ng-app="myApp" ng-cloak>
<div data-ng-controller="myCtrl" class="body_wrapper">

<div id="header">
	<md-button class="md-icon-button md-primary" aria-label="Settings">
		<md-icon md-svg-icon="/static/css/menu.svg" ng-click="toggleLeft()"></md-icon>
	</md-button>
	<p id="header_headline">Kai's Smart Home</p>
</div>
<!-- SIDE NAVIGATION -->
<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">Hey Freunde</h1>
	</md-toolbar>

	<md-content layout-margin>
		<p>
			Willkommen in meiner Smart Home App.<br>
			Klickt auf einen Raum, um auf die jeweiligen Ger&auml;te zuzugreifen.<br>
			Viel Spass!<br><br>
			Welche Wetterdaten m&ouml;chtest du sehen?
		</p>
		<md-select ng-model="userCity" ng-change="updateWeather()">
			<md-option ng-value="49413" selected>Dinklage</md-option>
			<md-option ng-value="49078">Osnabr&uuml;ck</md-option>
			<md-option ng-value="72074">T&uuml;bingen</md-option>
			<md-option ng-value="34117">Kassel</md-option>
			<md-option ng-value="83201">Pocatello</md-option>
		</md-select>
		<md-button ng-click="toggleLeft()" class="md-accent">
			Schliessen
		</md-button>
	</md-content>

</md-sidenav>

<div class="content_wrapper">
	<!-- WEATHER -->
	<div id="weather_cards_wrapper">
		<div data-ng-repeat="x in cities" class="card select_room_wrapper weather_card">
			<div class="select_room_icon_wrapper">
				<div class="select_room_icon" id="{{x.iconId}}"></div>
			</div>
			<div class="select_room_devider_wrapper">
				<div class="select_room_devider"></div>
			</div>
			<div class="select_room_name_wrapper">
				<p class="select_room_name">{{x.cityName}}: {{x.currentTemperature}} ° C</p>
			</div>
		</div>
	</div>
	<!-- ROOMS -->
	<div id="room_cards_wrapper">
		<a data-ng-repeat="x in rooms" href="/rooms/{{x.key}}" target="_self">
			<div class="card select_room_wrapper">
				<div class="select_room_icon_wrapper">
					<div class="select_room_icon" id="{{x.divid}}"></div>
				</div>
				<div class="select_room_devider_wrapper">
					<div class="select_room_devider"></div>
				</div>
				<div class="select_room_name_wrapper">
					<p class="select_room_name">{{x.name}}</p>
				</div>
			</div>
		</a>
	</div>
	<div class="button_wrapper">
		<md-button class="md-accent">Raum hinzuf&uuml;gen</md-button>
	</div>
</div>
</div>

<!-- AngularsJS and Angular Material ressources at the end of the file for improved loading -->
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<!-- JAVASCRIPT FILE -->
<script type="text/javascript" src="/static/js/control.js"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/control.js')}}"></script> -->

</body>
</html>
{% endraw %}