{% raw %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- RESPONSIVENESS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<!-- STYLESHEET -->
  	<link rel="stylesheet" href="#/static/css/style.css">
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" ng-cloak>

<div id="header">
	<a href="/control">
		<md-button class="md-icon-button md-primary" aria-label="Settings">
			<md-icon md-svg-icon="static/css/back.svg"></md-icon>
		</md-button>
	</a>
	<p id="header_headline">{{room}}</p>
</div>

<!-- LIST OF ALL DEVICES IN THE ROOM -->
<md-list>
	<md-list-item>
		<md-icon md-svg-icon="static/css/alarm.svg"></md-icon>
		<p>Lampe</p>
		<md-switch class="md-secondary"></md-switch>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="static/css/alarm.svg"></md-icon>
		<p>TV</p>
		<md-switch class="md-secondary"></md-switch>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="static/css/alarm.svg"></md-icon>
		<p>Heizung</p>
		<md-switch class="md-secondary"></md-switch>
	</md-list-item>
	<md-list-item>
		<md-icon md-svg-icon="static/css/alarm.svg"></md-icon>
		<p>Kerzen</p>
		<md-switch class="md-secondary"></md-switch>
	</md-list-item>
</md-list>

<!-- AngularsJS and Angular Material ressources at the end of the file for improved loading -->
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- JAVASCRIPT FILE -->
<script type="text/javascript" src="static/js/control.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

</body>
</html>
{% endraw %}